.bg-blue {
  color: black;
  /* background-color: #F3A847; */
  background-color: #0E660A;
}

.bg-blue:hover{
  background-color: #0E660A;
}

.nav-bg{
  background-color: #0E660A;
}
.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

.form-check-input {
  border-color: black;
}

.card {
  height: 100%;
}

.card-img-top {
  height: 200px;
}
